body{
      background: #eaeaea;
    margin: 0;
    padding: 0;
    font-weight: 100;
}
.MainHeader{
    background-color: lightyellow;
    text-align: center;
    overflow: hidden;
    
}
.container{
    width: 600px;
    margin: auto;
}
article{
    background-color: white;
    padding: 5px;    
    border-radius: 5px;
    margin-bottom: 60px;
}

.post_title{
    overflow: hidden;
}
.post_title >div{
    width: 50%;
    float: left;
}
.title_container{
    font-size: 26px;
}
.date_container{
    text-align: right;
}

.image_container{
    border-bottom: 1px solid #eeefef;
    border-top:  1px solid #eeefef;
    width: 100%;
}

img{
    
    max-width: 590px;
}
.comment_container{
    padding:0px 24px;
}